body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
}

.header-container {
  display: flex;
  height: 72px;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: auto;
  width: 100px;
}

.header-links {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
}

li {
  padding: 6px;
}

a {
  color: rgb(192, 192, 192);
  text-decoration: none;
}

.introduction-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-color: #1F2937;
  margin-top: 30px;
  margin-bottom: 70px;
}

.intro-content {
  display: flex;
  justify-content: space-between;
  height: 325px;
  width: 1000px;
}

.left-content,
.right-content {
  flex: 1;
  /* Ensure both sides take up equal space */
  display: flex;
  flex-direction: column;
  /* For content alignment */
  /* Center content vertically */
}

.left-content {
  max-width: 45%;
  justify-content: space-between;

}

.right-content {
  max-height: 100%;
  max-width: 50%;
  /* Explicitly lock the width to half of the parent */
}

.introduction-photo {
  max-height: 100%;
  /* Ensure image respects the locked height */
  max-width: 100%;
  /* Maintain aspect ratio within the half-width */
  object-fit: contain;
  /* Ensure proper image scaling */
}

*/ .content-maintext,
.content-subtext {
  width: 300px;
}

.content-maintext {
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
  font-weight: 900;
}

.content-subtext {
  color: rgb(198, 198, 198);
}

.signup {
  font-size: 20px;
  font-weight: 900;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  margin-right: auto;
  border-radius: 8px;
  border-color: #3882F6;
  border-style: solid;
  background-color: #3882F6;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding: 0%;
  width: 100vw;
}

.info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
  margin: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 155px;
  height: 200px;
  margin: 15px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

.game-icon {
  max-width: 100%;
  border-radius: 10px;
}

.review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #E5E7EB;
}

.qoute-container{
  width: 750px;
  margin: 100px ;
}

.qoute {
  max-width: 100%;
}

.qoute p {
  font: italic 300 36px 'Roboto', sans-serif;
  color: #1F2937;
}

.author {
  text-align: right;
  font: bold 24px 'Roboto', sans-serif;
  color: #1F2937;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.bottom-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3882F6;
  padding: 20px;
  margin: 100px 20px;
  border-radius: 10px;
}

.bottom-container > div,
.bottom-container > button {
  margin: 25px 90px;
}

.bottom-text{
  color: white;
}

h3, p {
  margin: 0;
}

.enlist-button{
  font-size: 20px;
  font-weight: 900;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: white;
  border-style: solid;
  background-color: #3882F6;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-content:center;
  padding: 30px;
  color: white;
  font-size: 20px;
  font-weight: 100;
}